*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: 'Ubuntu';
}

body{
    padding: 1rem;
    height: 100vh;

}

.container{
    display: flex;
    height: 100%;
    gap: 3rem;
}


.auth_box{
    display: none; 
    width: 47%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background{
    /* width: 50%; */
    width: 100%; 
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: width 2s ease-in;
}

.background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.shrink{
    width: 50%;
    position: absolute;
    right: 1rem;
    height: 96%;
    transition: width 2s ease-in;
}

.auth_box .navbar{
    display: flex;
    justify-content: space-between;
}

.auth_box .navbar .logo, .auth_box .navbar .signup{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: fixed;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 2s ease;
    z-index: 1000;  
}

.logo.moved {
    top: 1rem; 
    left: 1rem;
    transform: translate(0, 0);
    position: absolute;
}

.logo .title{
    font-weight: bold;
    font-size: 14px;
}

.logo .title .heading {
    /* color: #272f5f; */
    color: #72559e;
    /* color: purple; */
    font-size: 19px;
    font-weight: bolder;
}


.signup{
    position: relative;
    left: 60%;
}

.signup span{
    opacity: 0.6;
}

.signup button{
    color: #72559e;
    font-weight: bold;
    background-color: transparent;
    border: 1px solid gray;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.signup button:hover{
    background-color: #72559e;
    color: white;
    transition: 1s;
}


.login_container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.login_container .msg{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    text-align: center;
}

.msg .msg_header{
    font-size: 3rem;
    font-weight: bold;
}

.msg .msg_desc{
    opacity: 0.6;
}

.login_container .login_form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.login_form .fillup{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fillup input {
    width: 450px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}

.fillup input:focus{
    outline: none;
    border: 2px solid #72559e !important;
    box-shadow: 0 0 0 1px #72559e;
}


.checkbox-wrapper-33 {
    --s-xsmall: 0.625em;
    --s-small: 1.2em;
    --border-width: 1px;
    --c-primary: #5F11E8;
    --c-primary-20-percent-opacity: rgb(95 17 232 / 20%);
    --c-primary-10-percent-opacity: rgb(95 17 232 / 10%);
    --t-base: 0.4s;
    --t-fast: 0.2s;
    --e-in: ease-in;
    --e-out: cubic-bezier(.11,.29,.18,.98);
  }

  .checkbox-wrapper-33 .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .checkbox-wrapper-33 .checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .checkbox-wrapper-33 .checkbox + .checkbox {
    margin-top: var(--s-small);
  }
  .checkbox-wrapper-33 .checkbox__symbol {
    display: inline-block;
    display: flex;
    margin-right: calc(var(--s-small) * 0.7);
    border: var(--border-width) solid var(--c-primary);
    position: relative;
    border-radius: 0.1em;
    width: 1.5em;
    height: 1.5em;
    transition: box-shadow var(--t-base) var(--e-out), background-color var(--t-base);
    box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
  }
  .checkbox-wrapper-33 .checkbox__symbol:after {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    width: 0.25em;
    height: 0.25em;
    background-color: var(--c-primary-20-percent-opacity);
    opacity: 0;
    border-radius: 3em;
    transform: scale(1);
    transform-origin: 50% 50%;
  }
  .checkbox-wrapper-33 .checkbox .icon-checkbox {
    width: 1em;
    height: 1em;
    margin: auto;
    fill: none;
    stroke-width: 3;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    color: var(--c-primary);
    display: inline-block;
    border-radius: 5px;
  }
  .checkbox-wrapper-33 .checkbox .icon-checkbox path {
    transition: stroke-dashoffset var(--t-fast) var(--e-in);
    stroke-dasharray: 30px, 31px;
    stroke-dashoffset: 31px;
  }
  .checkbox-wrapper-33 .checkbox__textwrapper {
    margin: 0;
  }
  .checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol:after {
    -webkit-animation: ripple-33 1.5s var(--e-out);
            animation: ripple-33 1.5s var(--e-out);
  }
  .checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol .icon-checkbox path {
    transition: stroke-dashoffset var(--t-base) var(--e-out);
    stroke-dashoffset: 0px;
  }
  .checkbox-wrapper-33 .checkbox__trigger:focus + .checkbox__symbol {
    box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
  }

  @-webkit-keyframes ripple-33 {
    from {
      transform: scale(0);
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: scale(20);
    }
  }

  @keyframes ripple-33 {
    from {
      transform: scale(0);
      opacity: 1;
    }
    to {
      opacity: 0;
      transform: scale(20);
    }
  }

.loginBtn{
    width: 450px;
    height: 50px;
    background-color: #5F11E8;
    /* background-color: #72559e; */
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

.loginBtn:focus{
    outline: none;
}

.loginBtn:hover{
    opacity: 0.8;
}

.forget{
    display: flex;
    justify-content: space-around;
    color: #72559e;
}

.footer{
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    opacity: 0.8;
}
